// ==========================================================================
// Section Styles - Contact
// ==========================================================================


#contact {
  background-color: $color-secondary;

  	h2 {
  		color: $color-primary;
  	}
}

.contact {

	&-header {


	}

	&-email {

	}

	&-social-icons {

		p {
			color: $color-primary;
		}

		ul a {
			color: $color-primary;
			list-style: none;

			&:hover {
				color: $color-light;
			}

			li {
				@extend %center-align;
				display: inline-block;
				padding: 2%;
			}
		}
	}
}