// ==========================================================================
// Footer Styles
// ==========================================================================

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: $color-secondary;
  color: $color-light;
}

