// ==========================================================================
// Header Styles
// ==========================================================================

.cover {
  padding: 16% 0 30% 0;

  	&.top {
  	  padding-bottom: 10%;
	  height: 100vh;
	  display: flex;
	  background-color: $color-primary;
	}
}



